<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Livro</title>
    <!-- Link do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    {% include 'navbar.html' with title_page='PEDIDOS' %} 
    <div class="container">
        <div class="text-left">
            <h2 class="mb-4">Cadastro de Livro</h2>
            <a href="{% url 'listar_livros' %}" class="btn btn-secondary">Voltar para lista de livros</a>
        </div>
        <form method="post" class="mb-4 w-50 mx-auto">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar Livro</button>
        </form>
    </div>

    <!-- Scripts do Bootstrap (opcional, mas necessário para alguns componentes) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
