{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Livros</title>
    <!-- Link do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    {% include 'navbar.html' with title_page='LIVROS' user=usuario_logado %}

    <div class="container">
        <h2 class="mb-4">Lista de Livros</h2>
        {% if usuario_logado.tipo_usuario == 'ADMIN' %}
            <a href="{% url 'cadastrar_livro' %}" style="background-color: #008080" class="btn mb-3 text-white">Cadastrar Novo Livro</a>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="text-white" style="background-color: #008B8B;">
                    <tr>
                        <th>Título</th>
                        <th>Autor</th>
                        <th>ISBN</th>
                        <th>Editora</th>
                        <th>Ano de Publicação</th>
                        <th>Total de Exemplares</th>
                        <th>Quantidade Disponível</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros %}
                    <tr>
                        <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{ livro.titulo }}">
                            {{ livro.titulo|truncatechars:30 }}
                        </td>
                        <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{ livro.autor }}">
                            {{ livro.autor|truncatechars:30 }}
                        </td>
                        <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{ livro.isbn }}">
                            {{ livro.isbn|truncatechars:30 }}
                        </td>
                        <td style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{ livro.editora }}">
                            {{ livro.editora|truncatechars:30 }}
                        </td>
                        <td class="text-center">
                            {{ livro.ano_publicacao }}
                        </td>
                        <td class="text-center 
                                   {% if livro.quantidade_disponivel < 5 %}text-danger{% endif %}"
                        >
                            {{ livro.quantidade_total }}
                        </td>
                        <td class="text-center 
                                   {% if livro.quantidade_disponivel < 5 %}text-danger{% endif %}"
                        >
                            {{ livro.quantidade_disponivel }}
                        </td>
                        <td
                            class="text-justify"
                            title="{% if livro.descricao|length > 100 %}{{ livro.descricao }}{% endif %}"
                            style="max-width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                        >
                            {{ livro.descricao|truncatechars:100 }}
                        </td>
                    </tr>                    
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">Nenhum livro cadastrado.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Scripts do Bootstrap (opcional, mas necessário para alguns componentes) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
